@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: inherit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  cursor: url(../src/components/landing-section/images/circle.png) 16 16, auto;
  scroll-behavior: smooth;
}

@font-face {
  font-family: spaceman;
  src: url(../public/fonts/space.TTF);
}
@font-face {
  font-family: gtek;
  src: url(../public/fonts/gtek.ttf);
}
@font-face {
  font-family: spaceage;
  src: url(../public/fonts/spaceage.ttf);
}
@font-face {
  font-family: spacereg;
  src: url(../public/fonts/spacereg.otf);
}
@font-face {
  font-family: Azonix;
  src: url(../public/fonts/Azonix.otf);
}
::-webkit-scrollbar {
  display: none;
}
/* home page design */
.home {
  color: white;
  background: black;
  /* background-image: url(../src/components/landing-section/images/heropage3.png); */
  background-image: linear-gradient(
      -45deg,
      rgba(4, 1, 38, 0.713),
      rgba(2, 3, 69, 0.895)
    ),
    url(../src/components/landing-section/images/earth.png);
  background-position: center;
  /* background-image: linear-gradient(
  110deg,
  hsl(220deg 52% 15%) 0%,
  hsl(217deg 46% 10%) 57%,
  hsl(215deg 46% 5%) 100%
); */
  background-size: cover;
  height: 100vh;
}

.view {
  background: linear-gradient(
    99.28deg,
    rgba(49, 64, 199, 0.42) 1.38%,
    rgba(43, 159, 243, 0.3738) 106.83%
  );
}
.view:hover {
  background: linear-gradient(
    99.28deg,
    rgba(151, 71, 255, 0.42) 1.38%,
    rgba(43, 159, 243, 0.3738) 106.83%
  );
}
.sponsor {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.87);
}

.circle {
  background: linear-gradient(
    90deg,
    #9747ff -11.22%,
    rgba(10, 10, 10, 0.856) 108.16%
  );
}
.round {
  border-radius: 20px;
}
.swiper-pagination-bullets {
  display: none;
}
.cards {
  background: #000810;

  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 15px;
  color: aliceblue;
}
.designation {
  background: rgba(255, 255, 255, 0.35);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}
.ant-modal-content {
  background: #000810 !important;
}
.ant-modal-close {
  display: none;
}

.fontbold {
  @apply text-soon font-bold;
}



.img img {

  /* padding: 80px; */

 /* position: relative; */

 animation:mymove 4s ease-in-out infinite alternate-reverse both;
 
}





@keyframes mymove{
  
  0% {
    transform: translateY(10px);
}
100% {
  transform: translateY(-10px);
}

}



/*background theme*/


.aboutbg{
 background-color: #0B0B0F;
 /* background-color: #000035; */
}
.careerbg{
  background-color: black;
  /* background-color: #000042; */
}

.videobg{
  background-color: black;
   /* background-color: #000053; */
}
.eventbg{
  background-color: #020202;
  /* background-color: #000068; */
 
}
.reviewbg{
  background-color: black;
  /* background-color: #1c1c84; */
}
.footerbg{
  background-color: #ffffff;
/* color: white; */
}